@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Quicksand', sans-serif !important;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

.page-index {
    font-weight: 300;
    line-height: 1.65;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bg {
    background-image: url(../img/background-image.jpg);
    background-size: 80vmax;
    background-attachment: fixed;
    background-position-x: center;
}

.bg2 {
    background-image: url(../img/background-image2.jpg);
    background-size: 100vmax;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: 50px;
}

.bg3 {
    background-image: url(../img/background-image3.jpg);
    background-size: 100vmax;
    background-attachment: fixed;
    background-position-x: -140px;
}

.bg4 {
    background-image: url(../img/background-image4.jpg);
    background-size: 100vmax;
    background-attachment: fixed;
    background-position-x: -160px;
    background-position-y: 50px;
}

.bg-paris {
    background-image: url(../img/paris.jpg);
    background-size: calc(100vh + 260px);
    background-attachment: fixed;
    background-position-x: -450px;
    background-position-y: 50px;
}

.bg-veneza {
    background-image: url(../img/veneza.jpg);
    background-size: calc(100vh + 260px);
    background-attachment: fixed;
    background-position-x: -300px;
    background-position-y: 50px;
}

.bg-japao {
    background-image: url(../img/japao.jpg);
    background-size: calc(100vh + 260px);
    background-attachment: fixed;
    background-position-x: -300px;
    background-position-y: 50px;
}

.filtro-dark {
    background-color: rgba(0, 0, 0, 0.322);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    background-color: #fff;
    color: black;
    text-align: center;
    justify-content: space-between;
    padding: 5px;
    font-size: .7em;
    z-index: 2;
    border-bottom: 1px solid black;
}

main {
    max-width: 800px;
    margin-top: 57px;
}

header div h1 {
    margin-top: 7px;
    margin-left: 10px;
    font-size: 2.3em;
}

.logo {
    width: 35px;
    height: 35px;
    margin-top: 0;
}

.logo-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bi-list {
    margin-left: 10px;
    color: black;
    font-size: 2.5em;
    transition: all 0.5s ease;
}

.bi-list:hover {
    font-size: 2.6em;
}

.bi-person-circle {
    margin-right: 10px;
    color: black;
    font-size: 2.5em;
    transition: all 0.5s ease;
}

.bi-person-circle:hover {
    font-size: 2.6em;
}

.bi-chevron-left {
    font-size: 1.5em;
}

.bi-star-fill {
    font-size: 2em;
    color: gray;
    text-shadow: 0px 0px 3px black;
    transition: all 0.2s ease;
}

#star1,
#star2,
#star3,
#star4,
#star5 {
    cursor: pointer;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding-left: 20px;
    transition: left 0.5s ease;
    z-index: 3;
}

.sidebar-content {
    margin: 10px 0 0 30px;
    font-size: 1.5em;
    transition: color 0.2s ease;
}

.sidebar-content:hover {
    color: rgb(192, 192, 192);
}

.fecharSidebar {
    background: none;
    color: white;
    border: none;
    margin-top: 5px;
    padding: 4px;
}

.mostrarSidebar {
    border: none;
    background: none;
    color: black;
}

.modal-login {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 300px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding-left: 20px;
    transition: left 0.5s ease;
    z-index: 4;
}

.fecharModal-login {
    margin-left: 230px;
    background: none;
    color: white;
    border: none;
    margin-top: 5px;
    padding: 4px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.mostrarModal-login {
    border: none;
    background: none;
    color: black;
}

.modal-login h2 {
    text-align: center;
    margin-left: -1em;
}

.input-group {
    position: relative;
    margin-top: 1rem;
}

.input-email,
.input-password {
    color: #a5a5a5;
    width: 250px;
    line-height: 40px;
    border: 1px solid green !important;
    background: none;
    outline: 0;
    font-size: 15px;
    padding: 0 20px 0 20px;
    border-radius: 15px !important;
}

.button-login {
    color: white;
    border: none;
    border-radius: 1rem;
    background-color: #049309;
    margin-top: 30px;
    width: 90%;
    height: 3rem;
}

.intro {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.intro h2,
.intro-viagens h2 {
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.intro p {
    text-align: center;
    width: 300px;
    color: white;
    font-size: 20px;
    margin-top: 2em;
}

.intro-viagens {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 40px 20px;
}

.intro-viagens h2 {
    margin-bottom: 40px;
    font-size: 3em;
}

.intro-viagens p {
    font-size: 1.2em;
}

.intro-contatos {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 40px 20px;
}

.intro-contatos h2 {
    margin-bottom: 40px;
    font-size: 3em;
}

.intro-contatos p {
    font-size: 1.2em;
}

.sobre {
    background-color: white;
    text-align: center;
    padding: 20px;
    margin: 0;
    margin-bottom: -1px;
    border-bottom: 1px solid black;
}

.sobre h2 {
    font-size: 2em;
}

.icone {
    position: relative;
    padding: 20px;
    border-radius: 100%;
    background-color: rgb(225, 225, 225, .65);
    left: 40px;
}

.contato {
    margin: 0 20px 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.first {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.pontos-turisticos {
    background-color: white;
    margin: 0;
    padding-bottom: 20px;
}

.pontos-turisticos h2 {
    color: black;
    text-align: center;
    padding: 1em;
}

.pontos-turisticos h2::after {
    margin-top: 5px;
    margin-left: 90px;
    display: flex;
    content: "";
    width: 150px;
    height: 3px;
    background-image: linear-gradient(90deg, rgba(6, 68, 0, 1) 0%, rgba(0, 150, 15, 1) 50%, rgba(0, 255, 7, 1) 100%);
}

.pontos-turisticos article h3,
.pontos-turisticos article h4 {
    font-size: 1.5em;
    margin-top: .5em;
}

.pontos-turisticos div article,
.pontos-turisticos div h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    contain: content;
    margin-inline: 20px;
    background-color: #ddd;
}

.visitados {
    margin-bottom: 20px;
}

.pontos-turisticos h3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding-block: 20px;
    font-size: 1.5em;
    border-bottom: 2px solid white;
}

.pontos-turisticos article:not(.pontos-turisticos article:last-of-type) {
    border-bottom: 1px solid white;
}

.pontos-turisticos article:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

img {
    display: block;
    margin-top: 1em;
    max-width: 100%;
    height: auto;
}

.pontos-turisticos article p {
    margin-block: 20px;
    margin-inline: 20px;
    text-align: center;
    color: black;
}

.avaliacoes {
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    margin: 100px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacoes form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avaliacoes label {
    margin-bottom: 10px;
    margin-top: 20px;
}

.avaliacoes select {
    border-radius: 10px;
    border: 1px solid black;
    outline: 0;
    padding-inline: 10px;
    padding-block: 5px;
}

#appearance-select {
    min-width: 250px;
    /* Tamanho do select, maior que o tamanho da div "div-select" */
    min-height: 30px;
    /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */
    border: 1px solid gray;
}

.bg4 form {
    display: flex;
    flex-direction: column;
}

.bg4 input {
    border-radius: 10px;
    border: 1px solid black;
    outline: 0;
    padding-inline: 10px;
    padding-block: 5px;
}

.bg4 label {
    margin-bottom: 10px;
    margin-top: 20px;
}

.button-submit {
    margin-top: 20px;
    background: none;
    border: 1px solid #616161;
    padding: 0.75em;
    border-radius: 4px;
    color: inherit;
    margin-bottom: 15px;
    min-width: 100%;
}

textarea {
    padding: 10px;
    border-radius: 10px;
    outline: 0;
    resize: none !important;
}

.intro-trip {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    padding: 40px 20px;
}

.intro-trip h2 {
    margin-bottom: 40px;
    font-size: 3em;
}

.intro-trip p {
    font-size: 1.2em;
}

.trip-page {
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.nota {
    text-align: center;
    border-bottom: 1px solid gray;
    padding-block: 20px;
}

.nota-estrelas {

    #s1,
    #s2,
    #s3,
    #s4 {
        color: yellow;
    }
}

.sobre-trip {
    margin-top: 20px;
    border-bottom: 1px solid gray;
}

.galeria-container {
    margin-top: 20px;
}

.galeria img {
    padding: 10px;
    border: 1px solid black;
}

.trip-page h3 {
    font-size: 2em;
    margin-bottom: 10px;
}

.sobre-trip p {
    text-align: justify;
}

.button {
    background: none;
    text-decoration: none;
    border: 1px solid #616161;
    padding: 0.75em;
    border-radius: 4px;
    color: inherit;
    margin-bottom: 15px;
    max-width: 8em;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: gray;
    color: white;
}

.link {
    text-decoration: none;
    color: white;
}

footer {
    color: white;
    margin: 10px 0;
}

.page-viagens {
    padding-block: 20px;
    margin: 0;
}

.page-viagens p {
    margin-bottom: 0;
}

.page-avaliacoes {
    padding-block: 23px;
    margin-top: 20px;
    margin-bottom: 0;
}

.page-avaliacoes-body {
    margin: 0;
}

.page-contatos {
    padding-block: 20px;
    margin: 0;
}

footer {
    margin-bottom: 0;
}

.social-media {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    font-size: 1.5em;

    a {
        border: 1px solid white;
        padding: 10px;
        border-radius: 100%;
    }
}

.copy {
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}

@media screen and (min-width: 1023px) {

    .bg {
        background-size: cover;
    }

    .bg-paris {
        background-size: cover;
        background-position-x: 0;
        background-position-y: -80px;
    }

    .bg-veneza {
        background-size: cover;
        background-position-x: 0;
    }

    .bg-japao {
        background-size: cover;
        background-position-x: 0;
        background-position-y: -80px;
    }

    .filtro-dark {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sugest {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .avaliacoes {
        width: 50vmax;
    }

    .sobre {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .pontos-turisticos {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .pontos-turisticos h2::after {
        margin-left: 292px;
    }

    .conteudo-destaques {
        display: flex;
    }
}