@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
    font-size: 16px;
}

.page1 {
    background-image: url(../img/background-image.jpg);
    background-size: 160vmax;
    background-attachment: fixed;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    line-height: 1.65;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


header {
    display: flex;
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 5px;
    font-size: .7em;
}

main {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.sidebar {
    position: fixed;
    top: 0;
    left: -290px;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    transition: left 0.3s ease; /* Adiciona uma transição suave */
}

.fecharSidebar {
    background: none;
    color: white;
    border: none;
    font-size: 16px;
    margin-top: 10px;
    padding: 4px;
}

.mostrarSidebar {
    border: none;
    background: none;
    margin-right: 50px;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
strong,
p {
    margin-top: 0;
    font-weight: 300;
}

header h1 {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: bold;
}

.logo {
    width: 35px;
    height: 35px;
    margin: 0;
}

.intro {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vmax;
}

.intro p {
    text-align: center;
    width: 300px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(212, 217, 255, 0.65);
    border-radius: 10px;
}

.local {
    color: blue;
    justify-content: center;
    align-self: center;
}

.icone {
    position: relative;
    padding: 20px;
    border-radius: 100%;
    background-color: rgb(225, 225, 225, .65);
    left: 40px;
}

.pontos-turisticos {
    margin-top: 40px;
}

.pontos-turisticos div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.pontos-turisticos div img {
    width: 60vmax;
}

.pontos-turisticos div p {
    margin-top: 10px;
    text-align: center;
    color: black;
}

.button {
    text-decoration: none;
    display: block;
    border: 1px solid #ddd;
    padding: 0.75em;
    border-radius: 4px;
    color: inherit;
    margin-bottom: 15px;
}